	<!DOCTYPE html>
	<html>
	<head>
		<title>Serendipity</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'logo_only.png' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Serendipity is a platform for cal students to foster relationships with others the would not have met.">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<!-- below 1200 -->
		<div id="desktopTest" class="hidden-md"></div>
		<!-- below 992 -->
		<div id="desktopTest2" class="hidden-sm"></div>
		<!-- below 768 -->
		<div id="desktopTest3" class="hidden-xs"></div>
		<% if flash[:notice] != nil %>
		<div class="notification-notice"> 
			<span class="x-alert"> x </span>
			<p class="notice"><%= flash[:notice] %></p>
		</div>
		<% end %>
		<% if flash[:alert] != nil %>
		<div class="notification-alert"> 
			<span class="x-alert"> x </span>
			<p class="alert"><%= flash[:alert] %></p>
		</div>
		<% end %>
		<%= yield %>
	</body>
	</html>